<div class="list">
    <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Title" ng-model="movie.title">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Release Year</span>
        <input type="text" placeholder="Release Year" ng-model="movie.releaseYear">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Director</span>
        <input type="text" placeholder="Director" ng-model="movie.director">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Movie Genre</span>
        <input type="text" placeholder="Movie Genre" ng-model="movie.genre">
    </label>
</div>
