<ion-view view-title="Show selected movie">
    <ion-content>
        <ul class="list">
            <li class="item">
                Movie Title
                {{movie.title}}
            </li>
            <li class="item">
                Director
                {{movie.director}}
            </li>
            <li class="item">
                Release Year
                {{movie.releaseYear}}
            </li>
            <li class="item">
                Movie Genre
                {{movie.genre}}
            </li>
        </ul>
    </ion-content>
</ion-view>
